<form method="post" action="{{ path('novel_delete', {'id': novel.id}) }}" onsubmit="return confirm('Confirmer la suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ novel.id) }}">
    <button class="btn btn-success">supprimer</button>
</form>
