{% extends 'base.html.twig' %}

{% block body %}
	<div class="main-content h-100 bg-linear-navbar d-flex flex-column">
		{% include 'components/_navbar.html.twig' %}

		<div class="header pb-6 flex-grow-1">
			<div class="container-fluid">
				{% block content %}{% endblock %}
			</div>
		</div>

		{% include 'components/_footer.html.twig' %}
	</div>
{% endblock %}