<footer class="py-4 text-center bg-secondary">
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_login') }}" class="d-none"><span class="text-primary">Admin
    </span></a>
    {% else %}
    <a href="{{ path('app_login') }}" class="text-decoration-none"><span class="text-primary">Admin
    </span></a>   
    {% endif %}
    <p class="m-0 text-primary">
        &copy; 2021 
        <a href="https://github.com/stephaniem31" class="font-weight-normal ml-1 text-primary text-decoration-none" target="_blank">
        Stéphanie Mariani
        </a>
    </p>
</footer>
