<footer class="py-4 text-center bg-secondary">
    <span class="text-primary">Admin
    </span>
    <p class="m-0 text-primary">
        &copy; 2021 
        <a href="https://github.com/stephaniem31" class="font-weight-normal ml-1 text-primary" target="_blank">
        Stéphanie Mariani
        </a>
    </p>
</footer>