<footer class="footer text-center bg-secondary">
        <div class="text-primary d-flex justify-content-center pt-3">
            <div>
                &copy; 2021 
                <a href="https://github.com/stephaniem31" class="font-weight-normal text-primary text-decoration-none" target="_blank">
                Stéphanie Mariani
                </a>
            </div>
        </div>
</footer>
