<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
<a href="{{ path('home_index') }}">
<img src="/build/images/black-feather.png">
</a> 
  	<div class="container-fluid">
	  <a href="{{ path('home_index') }}" class="text-decoration-none">
	  	<span class="text-primary">L'œuvre d'Amélie Nothomb</span>
	</a>
    	<div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
      	<div class="navbar-nav ">
        	<a class="nav-link active text-primary" aria-current="page" href="{{ path('home_index') }}">Accueil</a>
        	<a class="nav-link text-primary" href="{{ path('novel_index') }}">Romans</a>
        	<a class="nav-link text-primary" href="#">Nouvelles</a>
        	<a class="nav-link text-primary me-5" href="#">Pièces de théâtre</a>
      	</div>
    	</div>
  	</div>
</nav>